<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LPUGUIProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LPUGUIProvider.Properties.Settings>
            <setting name="autologoff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dueDate" serializeAs="String">
                <value />
            </setting>
            <setting name="isLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="operateID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>Administrator</value>
            </setting>
            <setting name="RKC" serializeAs="String">
                <value />
            </setting>
            <setting name="BCMD" serializeAs="String">
                <value />
            </setting>
            <setting name="NCMD" serializeAs="String">
                <value />
            </setting>
            <setting name="Tail" serializeAs="String">
                <value />
            </setting>
            <setting name="customAllValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customRKCValueOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settPass" serializeAs="String">
                <value>psett</value>
            </setting>
            <setting name="customUsername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignoreSPSWChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignoreDate" serializeAs="String">
                <value />
            </setting>
        </LPUGUIProvider.Properties.Settings>
    </userSettings>
</configuration>